<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="./js/app.js"></script>
    <title>About page</title>
</head>
<body>
    {{>header}}
   
    <div class="main-content">
        <img class="portrait" src={{imgDir}} alt="Manzana">
    </div>
    
    <p>This is a site created by Jean carlos. It uses data from mapbox.com and darksky.net</p>
   
    {{>footer}}

</body>

</html>